### .gitignore ---
##
##
######################################################################
##
### Commentary:
##
##
##
######################################################################
##
### Change Log:
##
##
######################################################################
##
### Code:

*~
.#*
\#*
__pycache__
.ipynb_checkpoints
.cache
.DS_Store
.vscode

## ###################################################################
## Build tree
## ###################################################################

build
build-*
build_*
public
*.gcov
coverage_report
default.profdata

## ###################################################################
## Install tree
## ###################################################################

install
install*

## ###################################################################
## qtcreator stuff
## ###################################################################

CMakeLists.txt.user
.cache

.Rhistory
.RData

######################################################################
### .gitignore ends here
